<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

  <!-- Cargando la Fuente Personalizada -->
  <link rel="stylesheet" th:href="@{/css/fontsLinking.css}" />

</head>

<body>
<header>
  <nav class="navbar navbar-expand-sm clr-tertiary p-3">
    <div class="container-fluid p-0">
      <a class="me-2" href="home">
        <img th:src="@{/img/iconos/Logo.png}" alt="Home" width="50" height="40" class="me-2">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white h4 pb-0" href="torneo">Torneos</a>
          <a class="nav-link text-white h4 pb-0" href="opciones">Opciones</a>
          <div th:if="${usuario != null}">
            <a class="nav-link text-white h4 pb-0" href="perfil">Mi Perfil</a>
          </div>
          <div th:if="${usuario != null}">
          <a class="nav-link text-white h4 pb-0" href="partida">Partida Rápida</a>
          </div>
          <div th:if="${usuario == null}">
            <a class="nav-link text-white h4 pb-0" href="login">Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

</header>


  <main class="container-fluid">
    <div class="row my-5">

      <a href="partida" class="card col-3 mx-auto p-0 play-card">
        <div class="p-3 text-center dark-bg">
          <h3 class="card-title">Jugar</h3>
          <h5 class="card-text">Jugá partidas 1v1 o 2v2 contra la IA u otros jugadores</h5>
        </div>
      </a>

      <a href="torneo" class="card col-3 mx-auto p-0 tournaments-card">
        <div class="p-3 text-center dark-bg">
          <h3 class="card-title">Torneos</h3>
          <h5 class="card-text">Inscribite a los torneos diarios y suma puntos en el ranking</h5>
        </div>
      </a>

      <a href="opciones" class="card col-3 mx-auto p-0 settings-card">
        <div class="p-3 text-center dark-bg">
          <h3 class="card-title">Ajustes</h3>
          <h5 class="card-text">Modificá tus preferencias visuales, de sonido y de juego</h5>
        </div>
      </a>

    </div>
  </main>

  <!-- Boostrap core js -->
  <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>