<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/estilo-login-registrarse.css}"/>

</head>

<body>

<nav class="navegador p-3">
    <a href="#">UNLaM - Taller Web 1</a>
</nav>

<main role="main" class="p-4">

    <div>
        <div id="loginbox" style="margin-top:20px;" class="contenedor">
                <form class="formulario" action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                    <h3 class="p-2">Iniciar Sesión</h3>

                    <input style="margin-bottom:25px;" class="p-2 form-control" th:field="*{email}" id="email" type="email"  placeholder="E-mail" required/>
                    <input style="margin-bottom:25px;" class="p-2 form-control" th:field="*{password}" type="password" id="password" placeholder="Contraseña" required/>

                    <div style="margin-bottom:10px;">
                        <button style="margin-right: 10px;" class="p-2 btn btn-primary" id="btn-login"  Type="Submit">Iniciar Sesión</button>
                        <a class="p-2 btn btn-outline-secondary" id="ir-a-registrarme" href="nuevo-usuario">Registrarse</a>
                    </div>

                    <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}"></p>
                    <div class="olvide-password" style="margin-bottom:25px;">
                        <p>
                            ¿Te olvidaste la contraseña?
                            <a id="ir-a-recuperar-contraseña" href="nuevo-usuario"> Click Aquí </a>
                        </p>

                    </div>

                </form>
                <div class="d-flex flex-column" style="max-width: 40%;">
                    <button id="btn-login-google" Type="Submit" class="btn btn-light" style="margin-bottom:10px;">
                        <!--<img src="../img/search.png" alt="Logo google">-->
                        Iniciar Sesión con Google
                    </button>
                    <button id="btn-login-facebook" Type="Submit" class="btn btn-light">
                        <!--<img src="/img/facebook.png" alt="Logo face">-->
                        Iniciar Sesión con Facebook
                    </button>
                </div>
            </div>
    </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>