<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/login.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/estilo-login-registrarse.css}"/>
</head>

<body>

<nav class="navegador p-3">
  <a href="#">UNLaM - Taller Web 1</a>
</nav>

<main role="main" class="p-4">

  <div>
    <div id="loginbox" >
      <form class="formulario" action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
        <h3 class="p-2">Registrarse</h3>

        <input style="margin-bottom:25px;" th:field="*{email}" id="email" class="p-2 form-control" placeholder="E-mail" required/>
        <input style="margin-bottom:25px;" th:field="*{password}" type="password" id="password" class="p-2 form-control" placeholder="Contraseña" required/>

        <div style="margin-bottom:25px;">
          <button id="btn-registrarme" style="margin-right: 10px;" class="p-2 btn btn-primary" Type="Submit">Registrate</button>
          <a class="p-2 btn btn-outline-secondary" id="ir-a-login" href="login">Ya tengo cuenta</a>
        </div>

        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
        </p>
      </form>

      <div class="d-flex flex-column" style="max-width: 40%;">
        <button id="btn-login-google" Type="Submit" class="btn btn-light" style="margin-bottom:10px;">
          <!--<img src="../img/search.png" alt="Logo google">-->
          Iniciar Sesión con Google
        </button>
        <button id="btn-login-facebook" Type="Submit" class="btn btn-light">
          <!--<img src="/img/facebook.png" alt="Logo face">-->
          Iniciar Sesión con Facebook
        </button>
      </div>

    </div>
  </div>

</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>