<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Registrarse</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}" />

  <link rel="stylesheet" th:href="@{/css/fontsLinking.css}" />

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/estilo-login-registrarse.css}" />

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>

<header>
  <nav class="navbar navbar-expand-sm clr-tertiary p-3">
    <div class="container-fluid p-0">
      <a class="me-2" href="home">
        <img th:src="@{/img/iconos/Logo.png}" alt="Home" width="50" height="40" class="me-2">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white h4 pb-0" href="home">Inicio</a>
            <a class="nav-link text-white h4 pb-0" href="login">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </nav>

</header>

  <main role="main" class="container">

    <div class="container">
      <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
          <h3 class="form-signin-heading">Registrarse</h3>
          <hr class="colorgraph"><br>

          <input th:field="*{email}" id="email" class="form-control" placeholder="E-mail" required />
          <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="Contraseña"
            required />
          <input th:field="*{nombre}" id="nombre" class="form-control" placeholder="Nombre" required />
          <input th:field="*{nacimiento}" type="date" id="nacimiento" class="form-control" placeholder="Fecha de nacimiento" required />

          <div class="container-gender">

            <input th:field="*{genero}" type="radio" id="generoMasculino" name="genero"  placeholder="Genero" value="1"  />
            <label for="generoMasculino">Masculino</label>

            <input th:field="*{genero}" type="radio" id="generoFemenino" name="genero"  placeholder="Genero" value="2"  />
            <label for="generoFemenino">Femenino</label>

            <input th:field="*{genero}" type="radio" id="generoOtro" name="genero"  placeholder="Genero" value="3"  />
            <label for="generoOtro">Otro</label>
          </div>



          <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" Type="Submit">Registrate</button>
          <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
          </p>
        </form>

        <div class="iniciosExternos">
          <button id="btn-login-google" class="btn btn-lg btn-primary btn-block" Type="Submit">Iniciar Sesión con
            Google</button>
          <button id="btn-login-facebook" class="btn btn-lg btn-primary btn-block" Type="Submit">Iniciar Sesión con
            Facebook</button>
        </div>

      </div>
    </div>

  </main>
  <!-- /.container -->

  <!-- Boostrap core js -->
  <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>