<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}" />

  <!-- Cargando la Fuente Personalizada -->
  <link rel="stylesheet" th:href="@{/css/fontsLinking.css}" />

</head>

<body>
  <nav class="navbar navbar-expand-sm clr-tertiary p-3">
    <div class="container-fluid p-0">
      <a class="me-2" href="home">
        <img th:src="@{/img/iconos/Logo.png}" alt="Home" width="50" height="40" class="me-2">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white h4 pb-0" href="torneo">Torneos</a>
          <a class="nav-link text-white h4 pb-0" href="opciones">Opciones</a>
          <a class="nav-link text-white h4 pb-0" href="perfil">Mi Perfil</a>
          <a class="nav-link text-white h4 pb-0" href="partida">Partida Rápida</a>
          <a class="nav-link text-white h4 pb-0" href="login">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </nav>

  <main class="container-fluid">
    
  </main>

  <!-- Boostrap core js -->
  <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>