<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Partida rápida</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/partida.css}" />

    <!-- Cargando la Fuente Personalizada -->
    <link rel="stylesheet" th:href="@{/css/fontsLinking.css}" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/partida.js}"></script>
</head>

<body>
<div th:replace="../templates/header"></div>

    <main>
        <button class="btn chat-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling" id="corner-button"></button>

        <!-- Chat -->
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Chat</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="chat-message-adversary">Este es un mensaje de chat.</p>
                <p class="chat-message">Este es otro mensaje de chat.</p>
            </div>
            <div class="offcanvas-footer p-3">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Escribe tu mensaje...">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">

            <!-- Puntaje -->
            <div class="row justify-content-center mt-3">
                <div class="col-6">
                    <div class="marcador p-2 text-center">
                            <p class="titulo-marcador mb-1"><img src="img/account_circle.svg" class="card-img-top"
                                    alt="foto-perfil"><b>Jugador:</b></p>
                            <p th:text="${puntosJugador + ' Puntos'}"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="marcador p-2 text-center">
                            <p class="titulo-marcador mb-1"><img src="img/account_circle.svg" class="card-img-top"
                                    alt="foto-perfil"><b>Oponente:</b></p>
                                    <p th:text="${puntosIa + ' Puntos'}"></p>
                    </div>
                </div>
            </div>


            <!-- Cartas del oponente -->
            <div class="row justify-content-center mt-5">
                <div class="col-4 carta" th:each="i: ${#numbers.sequence(1, cartasRestantesIa)}">
                    <img th:src="@{/img/cards/reverso.png}" class="img-fluid">
                </div>
            </div>

            <!--Cartas jugadas por la IA -->
            <div class="row justify-content-center mt-5">
                <div class="col-4 carta" th:each="carta: ${cartasJugadasIa}">
                    <img th:src="@{/img/cards/lugar-vacio.png}" class="img-fluid">
                </div>
            </div>

            <!--Cartas jugadas por el jugador -->
            <div class="row justify-content-center mt-5">
                <div class="col-4 carta" th:each="carta: ${cartasJugadasJugador}">
                    <img th:src="@{/img/cards/lugar-vacio.png}" class="img-fluid">
                </div>
            </div>

            <!-- Cartas del jugador -->
            <div class="row justify-content-center mt-5">
                <div class="col-4 carta" th:each="carta, Stat: ${manoDelJugador}">
                    <img th:src="@{${'/img/cards/' + carta + '.png'}}" class="img-fluid shake carta-jugador" th:data-indice-carta="${Stat.count}"/>
                </div>
            </div>

            <!-- Botones de truco, envido y mazo -->
            <div class="row justify-content-center mt-5">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-light btn-lg" th:data-tipo-jugada="truco" th:data-indice=0>Truco</button>
                    <button type="button" class="btn btn-light btn-lg" th:data-tipo-jugada="envido" th:data-indice=2>Envido</button>
                    <button type="button" class="btn btn-light btn-lg" th:data-tipo-jugada="mazo" th:data-indice=0>Mazo</button>
                </div>
            </div>
        </div>

    </main>

    <!-- Boostrap core js -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>