<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Partida rápida</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}" />

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/partida.css}" />

    <!-- Cargando la Fuente Personalizada -->
    <link rel="stylesheet" th:href="@{/css/fontsLinking.css}" />

</head>

<body class="body">
<header>
    <nav class="navbar navbar-expand-sm clr-tertiary p-3">
        <div class="container-fluid p-0">
            <a class="me-2" href="home">
                <img th:src="@{/img/iconos/Logo.png}" alt="Home" width="50" height="40" class="me-2">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white h4 pb-0" href="torneo">Torneos</a>
                    <a class="nav-link text-white h4 pb-0" href="opciones">Opciones</a>
                    <a class="nav-link text-white h4 pb-0" href="perfil">Mi Perfil</a>
                    <a class="nav-link text-white h4 pb-0" href="tienda">Tienda</a>
                </div>
            </div>
        </div>
    </nav>

</header>

    <main>
        <div id="corner-button-container">
        <button class="btn chat-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling" id="corner-button"></button>
        </div>

        <!-- Chat -->
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Chat</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="chat-message-adversary">Este es un mensaje de chat.</p>
                <p class="chat-message">Este es otro mensaje de chat.</p>
            </div>
            <div class="offcanvas-footer p-3">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Escribe tu mensaje...">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal de cantos -->
        <div class="modal fade" id="miModal" tabindex="-1" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¡Atención!</h5>
                    </div>
                    <div class="modal-body">
                        <h5></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="boton-jugada btn btn-success" id="quieroTruco" data-bs-dismiss="modal" th:data-tipo-jugada="Quiero" th:data-indice=0>Quiero</button>
                        <button type="button" class="boton-jugada btn btn-warning" id="retruco" data-bs-dismiss="modal" th:data-tipo-jugada="Truco" th:data-indice=0>Quiero retruco</button>
                        <button type="button" class="boton-jugada btn btn-primary" id="valeCuatro" data-bs-dismiss="modal" th:data-tipo-jugada="Truco" th:data-indice=0>Quiero vale cuatro</button>
                        <button type="button" class="boton-jugada btn btn-danger" id="noQuieroTruco" data-bs-dismiss="modal" th:data-tipo-jugada="NoQuiero" th:data-indice=0>No quiero</button>
                        <button type="button" class="boton-jugada btn btn-success" id="quieroEnvido" data-bs-dismiss="modal" th:data-tipo-jugada="Quiero" th:data-indice=0>Quiero</button>
                        <button type="button" class="boton-jugada btn btn-danger" id="noQuieroEnvido" data-bs-dismiss="modal" th:data-tipo-jugada="NoQuiero" th:data-indice=0>No quiero</button>
                        <button type="button" class="boton-jugada btn btn-warning" id="envido" data-bs-dismiss="modal" th:data-tipo-jugada="Envido" th:data-indice=2>Envido</button>
                        <button type="button" class="boton-jugada btn btn-primary" id="realEnvido" data-bs-dismiss="modal" th:data-tipo-jugada="Envido" th:data-indice=3>Real envido</button>
                        <button type="button" class="boton-jugada btn btn-dark" id="faltaEnvido" data-bs-dismiss="modal" th:data-tipo-jugada="Envido" th:data-indice=100>Falta envido</button>
                        <a href="/spring/home" class="boton btn btn-secondary" id="volverAlMenu">Volver al menú</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de ayudas -->
        <div class="modal fade" id="modalAyudas" tabindex="-1" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                        <button type="button" class="btn btn-success boton-jugada" data-bs-dismiss="modal" th:data-tipo-jugada="Potenciador" th:data-indice=0>Usar</button>
                        <button type="button" class="btn btn-info" id="btn-comprarAyuda" data-bs-dismiss="modal">Comprar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Repartir cartas -->
        <div class="modal fade" id="repartiendoCartasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel2">Repartiendo Cartas</h5>
                        <img class="repartirGif" src="img/NAIPES.gif">
                    </div>
                </div>
            </div>
        </div>


        <div class="contenedorPartida">

            <!-- Puntaje -->
            <div class="row justify-content-center mt-3 puntajes">
                <div class="col-6">
                    <div class="marcador p-2 text-center">
                            <p class="titulo-marcador mb-1"><img src="img/account_circle.svg" class="card-img-top"
                                    alt="foto-perfil"><b>Vos:</b></p>
                            <p th:text="${puntosJugador} + ' Puntos'" id="puntosJugador"></p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="marcador p-2 text-center">
                        <p class="titulo-marcador mb-1"><img src="img/account_circle.svg" class="card-img-top" alt="foto-perfil"><b>IA:</b></p>
                        <p th:text="${puntosIa} + ' Puntos'" id="puntosIa"></p>
                    </div>
                    <div class="puntosEnvido p-2 text-center" style="background-color: white">
                        <p id="puntosEnvidoJugador" style="display: none;"></p>
                        <p id="puntosEnvidoIA" style="display: none;"></p>
                    </div>
                </div>
            </div>
            <div id="ultimaJugada" class="popover w-25">
                <div class="popover-body">
                </div>
            </div>

            <!-- Cartas del oponente -->
            <div class="row justify-content-center mt-5 cartasDeLaIA">
                <div class="col-4 carta" th:each="i: ${#numbers.sequence(1, cartasRestantesIa)}">
                    <img th:src="@{/img/cards/reverso.png}" class="img-fluid">
                </div>
            </div>

            <!--Cartas jugadas por la IA -->
            <div class="row justify-content-center mt-5 cartasJugadasIA">
                <div class="col-4 carta" th:each="carta: ${cartasJugadasIa}">
                    <img th:if="${carta == 'NULL'}" th:src="@{/img/cards/lugar-vacio.png}" class="img-fluid">
                    <img th:if="${carta != 'NULL'}" th:src="@{${'/img/cards/' + carta + '.png'}}" class="img-fluid carta-jugador">
                </div>
            </div>

            <!--Cartas jugadas por el jugador -->
            <div class="row justify-content-center mt-5 cartasJugadasJugador">
                <div class="col-4 carta" th:each="carta: ${cartasJugadasJugador}">
                    <img th:if="${carta == 'NULL'}" th:src="@{/img/cards/lugar-vacio.png}" class="img-fluid">
                    <img th:if="${carta != 'NULL'}" th:src="@{${'/img/cards/' + carta + '.png'}}" class="img-fluid carta-jugador">
                </div>
            </div>

            <!-- <button onclick="animarCartas()">Animar Cartas</button> -->
            <!-- Cartas del jugador -->
            <div class="row justify-content-center mt-5 cartasDelJugador displayNone">
                <div class="col-4 carta" th:each="carta, Stat: ${manoDelJugador}">
                    <img th:if="${carta == 'NULL'}" th:src="@{/img/cards/lugar-vacio.png}" class="img-fluid">
                    <img th:if="${carta != 'NULL'}" th:src="@{${'/img/cards/' + carta + '.png'}}" class="img-fluid shake carta-jugador" th:data-indice-carta="${Stat.count}">
                </div>
            </div>
            <!-- Cartas del jugador Reverso-->
            <div class="row justify-content-center mt-5 cartasDelJugadorReverso">
                <div class="col-4 carta" th:each="carta, Stat: ${manoDelJugador}">
                    <img th:if="${carta == 'NULL'}" th:src="@{/img/cards/reverso.png}" class="img-fluid">
                    <img th:if="${carta != 'NULL'}" th:src="@{${'/img/cards/reverso.png'}}" class="img-fluid shake carta-jugador" th:data-indice-carta="${Stat.count}">
                </div>
            </div>

            <!-- Botones de truco, envido y mazo -->
            <div class="btn-group btn-tipos-envido" role="group">
                <!-- Tipos de envido -->
                <button type="button" class="btn btn-light btn-lg boton-jugada" id="envidoButtonInferior" th:data-tipo-jugada="Envido" th:data-indice=2>Envido</button>
                <button type="button" id="realEnvidoButtonInferior" class="btn btn-light btn-lg boton-jugada" th:data-tipo-jugada="Envido" th:data-indice=3>Real envido</button>
                <button type="button" class="btn btn-light btn-lg boton-jugada" id="faltaEnvidoButtonInferior" th:data-tipo-jugada="Envido" th:data-indice=4>Falta envido</button>
            </div>

            <!-- Tipo de jugada -->
            <div class="btn-group btn-tipos-jugadas" role="group">
                <button type="button" class="btn btn-light btn-lg boton-jugada" id="Truco" th:data-tipo-jugada="Truco" th:data-indice=0>Truco</button>
                <button type="button" id="mostrarBotonesEnvido" class="btn btn-light btn-lg">Envido</button>
                <button type="button" class="btn btn-light btn-lg boton-jugada" th:data-tipo-jugada="Mazo" th:data-indice=0>Mazo</button>
            </div>
        </div>

        <div class="mazo">
            <img th:src="@{/img/cartasMazo.png}" class="mazoimagen">
        </div>

        <!-- Botones de ayudas -->
        <div class="position-fixed bottom-0 end-0 p-2 d-flex flex-column">
            <div class="d-flex flex-column" id="boton-ayudas-container">
                <button class="btn boton-ayudas ocultar-boton mb-1" id="repartir-ayuda" type="button" title="Volver a repartir" data-bs-toggle="modal" data-bs-target="#modalAyudas"><span class="cantidad-ayuda" th:text="${ayudasRepartirCartas}"></span></button>
                <button class="btn boton-ayudas ocultar-boton mb-1" id="intercambiar-ayuda" type="button" title="Intercambiar cartas con el rival" data-bs-toggle="modal" data-bs-target="#modalAyudas"><span class="cantidad-ayuda" th:text="${ayudasIntercambiarCartas}"></span></button>
                <button class="btn boton-ayudas ocultar-boton mb-1" id="3-puntos-ayuda" type="button" title="Sumar +3 puntos" data-bs-toggle="modal" data-bs-target="#modalAyudas">+3<span class="cantidad-ayuda" th:text="${ayudasSumarPuntos}"></span></button>
            </div>
            <button class="btn boton-ayudas" type="button" id="mostrar-ayudas" title="Ver ayudas"></button>
        </div>
    </main>

    <!-- Boostrap core js -->
    <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
    let seRepartieronLasCartas = /*[[${seRepartieronCartas}]]*/'';

</script>

    <script type="text/javascript" th:src="@{/js/partida.js}"></script>
</body>

</html>