:root {
    --fondo-negro: #0f0f0f;
}

*{
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-image: url("../img/mesa_madera_clara.jpg") !important;
    background-size: cover;
    background-color: var(--grey);
}
.navegador {
    background-color: var(--fondo-negro);
}

.navegador a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.formulario{
    display:flex;
    max-width: 40%;
    flex-direction: column;
}

.formulario h3 {
    color:white;
}

.btn-outline-secondary{
    --bs-btn-color: #ffffff;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-bg: #0d6efd;
}

.olvide-password p{
    color: white;
    font-size: large;
}
.olvide-password a{
    color: white;
    font-weight: bold;
}